/* import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap');


/* Asterik wildcard to override default style added by browser*/
* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

/* page name on top*/
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* navigation bar ul*/
.menu {
    font-size: 110%;
    text-transform: capitalize;
    letter-spacing: 3px;
    list-style-type: none;
}

/* navigation bar list*/
.menu>li {
    margin-bottom: 1em;
}

/* navigation bar list*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar drop down */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content */
main {
    background-color: aquamarine;
    /* make main element take any surplus space to push the footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* footer */
footer {
    background-color: coral;
}