/* import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap');


/* Asterik wildcard to override default style added by browser*/
* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

/* page name on top*/
h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-headings {
    display: none;
}

/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}


/* navigation bar ul*/
.menu {
    font-size: 110%;
    text-transform: capitalize;
    letter-spacing: 3px;
    list-style-type: none;
}

/* navigation bar list*/
.menu>li {
    margin-bottom: 1em;
}

/* navigation bar list*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar drop down */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content */
main {
    /*background-color: aquamarine;*/
    /* make main element take any surplus space to push the footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../image/hero-image.webp") no-repeat center center/cover;
}

/* rbga to set the opacity so it is semi-transparent */
#cover-text {
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    /*bottom: 65px;*/
    top: 450px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* reasons section */
/* text on section*/
#reasons {
    height: 90%;
    margin: 20px 20px auto;
}

/* heading on section */
#reasons>h2 {
    margin-bottom: 20px;

}

/* lines under texts*/
hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/* spaces under text*/
.healthy {
    margin-bottom: 20px;
}

/* reasons image*/
#circle-cover-bg {
    background: url("../image/reasons-image.webp") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* makes the image circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefit-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* meet-ups times section */
#meet-ups h3 {
    text-align: center;
    /* override the heading color set in general styles*/
    color: #fafafa;
}

#times {
    background: url("../image/pexels-janzidlicky-3030468\ \(1\).jpg") no-repeat top center / cover;
    display: flex;
    flex-wrap: wrap;
    /* add a gap between the time bord*/
    gap: 8px;


}

#times>div p {
    text-transform: capitalize;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;

}

/* footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* social media icons in footer */
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* madia query: tablets and larger ( 769px and up)*/
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .menu {
        display: flex;
    }

    .menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* main contnet */
    main {
        /* push main content down under larger header */
        margin-top: 79px;
    }

    /* gallery form */
    .container {
        display: flex;
        justify-content: center;
    }

    /* hero */
    #cover-text {
        width: 500px;
        right: 50px;
        bottom: 700px;
        left: 40%;

    }

    /* reasons scetion */
    #benefit-physical,
    #benefit-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefit-physical>div,
    #benefit-mental>div {
        width: 75%;
    }

    #benefit-mental>div {
        text-align: end;
        align-self: flex-end;
    }

}

/* larger divices ( laptops and desptops 992px up)*/
@media screen and (min-width: 992px) {
    .menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* larger divices, 1200px */
@media screen and (min-width: 1200px) {

    /* reasons section */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    #benefit-image {
        order: 0;
    }

    #benefit-mental {
        order: 1;
    }

    #benefit-mental>div {
        align-self: flex-start;
    }

    #benefit-physical>div {
        align-self: flex-end;
    }

    #reasons>h2 {
        text-align: center;
    }
}

/* sign up form style*/

/* form*/
form {
    background-color: #ffffff;
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


legend {
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;

}

/* fieldset */
fieldset {
    background-color: whitesmoke;
    width: 50%;
    border: none;
    text-align: center;

}

fieldset>div {
    padding: 0.313rem;
    /* space between each text aria */
    margin-top: 0.625rem;
}

label {
    font-family: italic, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;

}

.sign-up-label {
    /* remove label text for inputs on page */
    display: none;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 170px;
    height: 30px;
}


/* sign up button*/
button {
    width: 80px;
    height: 30px;
    font-family: italic, sans-serif;
    color: #000000;
    font-size: medium;
    margin-top: 30px;
}

input[type=submit] {
    width: 70px;
}

/* gallery form */

#gallery {
    text-align: center;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery {
    margin-left: 0.6rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*flex-direction: column;*/
    gap: 20px;
}

img {
    width: 370px;
    height: 20rem;
    /* to make the images not stretchy */
    object-fit: cover;
}

/* gallery form */
/* width for smaller screen with 390px*/
@media screen and (min-width: 390px) {

    img {
        width: 370px;
    }
}

/* gallery form*/
/* margin left for small screen with 375px */
@media screen and (min-width: 375px) {
    .gallery {
        margin-left: 1.3rem;
    }

    img {
        width: 350px;
    }

}

/* gallery form*/
/* margin left for small screen with 414px */
@media screen and (min-width: 414px) {

    .gallery {
        margin-left: 1.7rem;
    }
}